.profile {
  width: 500px;
  height: 500px;
  padding: 30px;
  background-color: beige;
  margin-left: 35px;
}

.description {
  text-align: center;
  margin-bottom: 30px;
}

.avatar {
  width: 300px;
  height: auto;
}

.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.06em;
}
.tag {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: cadetblue;
}
.location {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: black;
  font-style: italic;
  /* margin-bottom: 40px; */
}

.stats {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  border-radius: 4%;
  margin: -10px;
}

li {
  flex-basis: calc((100% - 60px) / 3);
  border: 3px solid #afb1b8;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li:not(:last-child) {
  border-right: none;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  color: black;
}

.quantity {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.19;
  color: black;
}
